.row {
    margin-top: 40px;
}

.flightname {
    height : 100px;
    line-height: 100px;
}

.date{
    justify-content: center;
    display: flex;
    align-items: center;
}

mat-tab-group {
    position: relative;
    width: 100%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 19.6%!important;
    padding: 3px!important;
    margin: 3px!important;
    font-size: 20px;
}

.notice{
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-left: 20px solid #0C172E;
    box-shadow: 1px 1px 7px 4px #ccc;
    background-color: white;
    line-height: 98px;
    font-size: 17px;
    padding-left: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


::ng-deep .mat-tab-body-content{
    overflow: hidden !important;
}

.appear{
    display: none;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    50% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.pot {
    position: relative;
    animation: myfirst 2s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    50%  {left: 130px; top: 0px;}
    100% {left: 0px; top: 0px;}
  }
  