.mat-tab-group {
    margin-bottom: 48px;
}

.mat-tab-body-content { 
    overflow: hidden!important;
}

/* mat-tab */
::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 20px;
    
}
 .mat-tab-header{
     background-color: white !important;
} 


::ng-deep .mat-dialog-container{
    padding : 0px !important;
    overflow-x:hidden !important;
}


::ng-deep .mat-tab-label{
    font-size: 20px !important;
    height: 70px !important;
}

::ng-deep .mat-tab-label-active{
    opacity: 1 !important;
    background-color: white !important;
}

::ng-deep .mat-tab-group{
    margin-bottom: 0px !important;
}