.mat-tab-group {
    margin-bottom: 48px;
}

.mat-tab-body-content { 
    overflow: hidden!important;
}

/* mat-tab */
::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 20px;
    
}
 .mat-tab-header{
     background-color: white !important;
} 

