<div class="howtobook">
    <div class="row" style="height: 100px;" data-aos="fade-right" data-aos-duration="1000">
        <div class="col-md-12" style="text-align: center; font-size: 50px; line-height: 100px;">
            How to book on DaTo?
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="step" data-aos="fade-right" data-aos-duration="1000">
                <div class="image">
                    1
                </div>
                <div class="title">
                    Search flight
                    <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">____</p>
                    <div class="script">
                        Type informations such as: origin, destination, departure/return date, quantity to search
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="step" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                <div class="image">
                    2
                </div>
                <div class="title">
                    Choose flight suit you
                    <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">____</p>
                    <div class="script">
                        Choose flight(s) which are listed by system base on enterd information
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="step" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
                <div class="image">
                    3
                </div>
                <div class="title">
                    Type info to buy
                    <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">____</p>
                    <div class="script">
                        Type info passenger, info purchaser to buy
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="step" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900">
                <div class="image">
                    4
                </div>
                <div class="title">
                    Pay
                    <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">____</p>
                    <div class="script">
                        Choose payment method suit you and execute pay
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    
</div>