.mat-label{
    opacity: 1 !important;
    color: black;
}

mat-form-field.mat-form-field {
    font-size: 20px;
    width: 45%;
    opacity: 1 !important;
}

/* remove padding */
/* :host >>> .mat-expansion-panel-body{
    padding: 0 !important;
  } */

.mat-form-field{
    margin-top: 40px;
}

label{
    margin-top: 20px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0C172E !important;
}

::ng-deep .mat-checkbox-inner-container {
    width: 24px !important;
    height: 24px !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #E8A207 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: blue !important;
}

::ng-deep .mat-form-field-flex {
    padding: 10px !important;
   
    border-bottom: 3px solid #0C172E !important;
  }
 
  /* Border */
 .mat-form-field-appearance-outline .mat-form-field-outline {
   color: #0C172E;
 }
 
 ::ng-deep .mat-form-field-suffix{
   height: 20px;
 }
 
 ::ng-deep .mat-form-field-underline {
   display: none;
 }
 
 ::ng-deep .mat-form-field-underline {
   display: none;
 }