 <mat-expansion-panel hideToggle #panelH >
    <mat-expansion-panel-header style=" height: 100px; padding: 20px;">
        <mat-panel-title (click)="panelH.toggle()" style="opacity: 1;">
            <mat-form-field appearance="legacy"  >
                <mat-label>Từ</mat-label>
                <mat-select>
                  <mat-option *ngFor="let element of location" [value]="element.value" >
                    {{element.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="legacy" style="display: inline-block; margin-left:10%;">
                <mat-label>Đến</mat-label>
                <mat-select>
                  <mat-option *ngFor="let element of location" [value]="element.value" (click)="panelH.open()">
                    {{element.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
        </mat-panel-title>
        
    </mat-expansion-panel-header>

        <label class="custom-control custom-checkbox" style="font-size: 20px; display: block; margin-top: 40px" >
          <input type="checkbox" name="" id="" value="checkedValue" class="custom-control-input" [(ngModel)]="oneway"
          style="width: 15px; height: 15px;">
          <span class="custom-control-indicator"> &nbsp; Một chiều</span>
        </label>

        <ng-container *ngIf="!oneway; else roundTrip">
          <mat-form-field appearance="legacy">
            <mat-label>Ngày đi - Ngày về</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start">
              <input matEndDate formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
        </ng-container>

        <ng-template #roundTrip>
          <mat-form-field appearance="legacy">
            <mat-label>Ngày đi</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
          
        <!-- <p>Selected range: {{range.value | json}}</p> -->

        <mat-form-field appearance="legacy" style="display: inline-block; margin-left:10%;">
            <mat-label>Hành khách</mat-label>
            <mat-select>
              <mat-option *ngFor="let element of customer_amount" [value]="element.value">
                {{element.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <div align="right">
            <button mat-button
            (click)='search()' 
            style="background-color: #E8A207; height: 60px; width: 170px; font-size: 20px; margin: 20px 20px 20px 0;">
            Tìm chuyến bay
            </button>
        </div>

</mat-expansion-panel>


