<div class="checkout">
    <div class="row">
        <h1 style="font-size: 40px !important; margin-bottom: 0px !important;">
            Checkout
        </h1>
    </div>
    <div class="info">
        <div class="title">
            Payment Info
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12" style="font-size: 24px;">
                    Pleases complete your payment below. Remember, your privacy is important to us and we all appreciate that.
                </div>
            </div>  
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-1" style="width:30px; font-size:20px;">
                    <fa-icon [icon]="faCreditCard"></fa-icon>
                </div>
                <div class="col-md-11">
                    <div class="credit">
                        <b>Credit/Debit Card</b>
                    </div>
                </div>
                <hr style="margin-top:20px;">
            </div>

            <div class="row" style="margin-top: 20px;  font-size: 20px;">
                <div class="col-md-1" style="width: 40px; ">
                    <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
                </div>
                <div class="col-md-11" style="align-items: center; display: flex;">
                    All of the following information is &nbsp;<b>required</b>
                </div>
            </div>

            <div class="row" style="margin-top: 20px;  font-size: 20px; margin-top: 20px;">
                <div class="col-md-1" style="width: 40px;">
                    <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
                </div>
                <div class="col-md-11" style="align-items: center; display: flex;">
                    All of the following information is &nbsp;<b>secure</b>
                </div>
            </div>

            <div class="type">
                <input type="number" class="form-control" placeholder="Card Number" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    style="width: 48.5%;">

                <span style="margin-left: 3%; font-size: 25px; width : 8.5%">Expire Date</span> 
                <input maxlength='5' placeholder="MM/YY" type="text" (keyup)="formatString($event)" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    style="width: 36%; margin-left: 2%;">

                <input type="text" class="form-control" placeholder="Name on Card" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    style="width: 48.5%;">

                <input type="password" maxlength='3' class="form-control" placeholder="CVV" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    style="width: 48.5%; margin-left: 3%;">
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-10" style="font-size: 20px; line-height: 60px;">
                    By selecting "Buy now," you agree to the terms and conditions that is associated with this purchase.
                </div>
                <div class="col-md-2">
                    <mat-dialog-actions align="center" style="margin-bottom: 10px;">
                        <button mat-button data-bs-toggle="modal" data-bs-target="#luggage2"
                            style="background-color: #E8A207; height: 60px; width: 100%; font-size: 20px;">
                            Buy now
                        </button>
                    </mat-dialog-actions>
                </div>
            </div>

        </div>
    </div>

    

</div>



  
<!-- Modal -->
<div class="modal fade" id="luggage2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="margin-top: 50px;">
  <div class="modal-dialog" style="border-radius: 5px !important; max-width: 30% !important;">
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header" 
            style="background-color: #0C172E; color: white !important;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            ">
            <p class="modal-title" id="exampleModalLabel" 
            style="padding-left: 14px; margin-top: 10px; font-size: 25px;">
            VERIFY
            </p>
        </div>

        <div class="modal-body" style="padding: 30px;">
            <div class="row">
                <div class="col-md-4" style="font-size: 25px; line-height: 70px;">
                    Type OTP code
                </div>
                <div class="col-md-8">
                    <input 
                        style="height: 70px; font-size: 25px;"
                        type="tel" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="modal-footer" style="padding: 30px;">
            <button mat-button data-bs-dismiss="modal"
            style="border: 1px solid rgb(210, 210, 210); height: 60px; width: 150px; font-size: 20px; margin-right: 20px;">
            Close
            </button>
            <button mat-button data-bs-dismiss="modal"
            style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;">
            VERIFY
        </button>
        </div>

    </div>
  </div>
</div>

