.manage{
    margin: 50px 0px;
}

.ticketinfo{
    font-size: 25px;
    margin-bottom: 30px;
    height: 0px;
    transition: 0.5s;
}

input{
    height: 70px;
    box-shadow: 1px 1px 7px 4px #ccc;
    font-size: 20px;
}

.appear{
    /* visibility: hidden;
    opacity: 0; */
    height: 600px;
    transition: 0.5s;
}

.title{
    background-color: #0C172E;
    color: white;
    font-size: 25px;
    height: 80px;
    line-height: 20px;
    padding: 30px;
}

.row{
    margin-top: 50px;
}

.ticket h1{
    font-weight: 500;
    font-size: 30px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 15px;
}

canvas{
    border-radius: 20px;
}