.manage{
    margin: 50px 0px;
}

.ticketinfo{
    font-size: 20px;
    margin-bottom: 30px;
}

input{
    height: 70px;
    box-shadow: 1px 1px 7px 4px #ccc;
    font-size: 20px;
}

.appear{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: 0px;
}

.title{
    background-color: #0C172E;
    color: white;
    font-size: 25px;
    height: 80px;
    line-height: 20px;
    padding: 30px;
}

.row{
    margin-top: 50px;
}