<div style="justify-content: center; display: flex; align-items: center; height: 770px;">
    <div>
        <div class="row">
            <div class="wrapper"> <svg class="animated-check" viewBox="0 0 24 24">
                <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" /> </svg>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12" style="text-align: center; font-size: 50px; color: #0C172E;">
                Transact Successfully
            </div>
        </div>

        <div style="height: 50px;"></div>

        <div class="row">
            <div class="col-md-12" style="text-align: center; color: #E8A207; font-size: 30px;">
                Check mail to get detail
            </div>
        </div>
    </div>
</div>

