<div class="row" style="margin-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-7" style="padding-right: 30px; padding-left: 0;">
        <div class="passengerinfo">
            <div class="row">
                <h1 style="padding: 0px !important; font-size: 40px !important; margin-bottom: 0px !important; height: 70px; line-height: 70px;">
                    Type Passenger Info
                </h1>
            </div>
            <!-- Notice -->
            <div class="row notice" style="margin-top: 30px;">
                <div class="col-md-1" style="width: 40px;">
                    <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
                </div>
                <div class="col-md-11">
                    All of the infomation of the passenger is secure
                </div>
            </div>
        
            <div class="row notice" style="margin-top: 30px;">
                <div class="col-md-1" style="width: 40px;">
                    <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
                </div>
                <div class="col-md-11" style="align-items: center; display: flex;">
                    Use login to enter information automatically
                </div>
            </div>
        
            <!-- Passenger data -->
            <div class="row" style="margin-top: 40px;">
                <h1 style="padding: 0px !important; font-size: 40px !important; margin-bottom: 0px !important; height: 70px; line-height: 70px;">
                    Passenger Info
                </h1>
            </div>
        
            <!-- passenger -->
            <div class="row passenger" *ngFor = "let number of quantityPassenger; let i=index">
                <div class="title">
                    Passenger {{i+1}}
                </div>
                <app-passenger-personal [hide]="hide" [no]="i" [appear] = "appear" 
                    (validDate)="validDate($event)"
                    (contactinfo)="onGetContactInfo($event, i)" (valid)="checkValidFromChild($event)"></app-passenger-personal>
            </div>
            <!-- end passenger -->
            
            <!-- contact data -->
            <div class="row" style="margin-top: 40px;">
                <h1 style="padding: 0px !important; font-size: 40px !important; margin-bottom: 0px !important; height: 70px; line-height: 70px;">
                    Contact Info
                </h1>
            </div>
        
            <div class="row passenger">
                <div class="title">
                    Contact Info
                </div>
                <div class="content" [class.appear]="hide">
        
                    <div class="row" style="margin-top: 30px; font-size: 20px;">
                        <div class="col-md-1" style="width: 40px;">
                            <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
                        </div>
                        <div class="col-md-11 ">
                            All of the following information is <b>required</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 notice_error" [ngStyle]="{display : error_popup && error_amount >0 ? 'block' : 'none'}">
                          <fa-icon [icon]="faCircleExclamation" style="color: rgb(177, 2, 2);"></fa-icon>
                          <span style="margin-left: 8px; font-weight: 500; font-size: 25px; color: #0C172E;">{{error_amount}} Error. Please resolve before you continue</span>
                          <p style="margin-top: 17px; font-size: 20px; line-height: 25px;">{{notice}}</p>
                        </div>
                    </div>
                
                    <div class="enterinfo">

                        <div class="row" style="margin-top: 40px; font-size: 20px;">
                            <div class="col-md-5">
                                Last name
                            </div>
                            <div class="col-md-5">
                                First name
                            </div>
                            <div class="col-md-2">
                                Suffix
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
            
                            <div class="col-md-5">
                                <input [(ngModel)]="firstName" (keyup)="onChange()"
                                    type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                     required>
                            </div>
                            <div class="col-md-5">
                                <input [(ngModel)]="lastName" (keyup)="onChange()"
                                    type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                     required>
                            </div>
                
                            <div class="col-md-2">
                                <select [(ngModel)]="suffix" (change)="onChange()"
                                    class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <!-- <option value="" selected="selected" disabled="disable" hidden="hidden">Suffix</option> -->
                                    <option value="Mr">Mr</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>
                
                        </div>
                
                        <div class="row" style="margin-top: 40px; font-size: 20px;">
                            <div class="col-md-5">
                                Date of Birth
                            </div>
                            <div class="col-md-7">
                                Identification Card No.
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">

                            <div class="col-md-2">
                                <select name="" id="" [(ngModel)]=monthBirth class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (blur)="checkValidDate()">
                                    <option *ngFor="let element of monthList" value="{{element.value}}">{{element.view}}</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <input [(ngModel)]=dateBirth (keyup)="onChange()" (blur)="checkValidDate()"
                                type="text" maxlength="2" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="dd"
                                >
                            </div>
                            <div class="col-md-2">
                                <input [(ngModel)]=yearBirth (keyup)="onChange()" (blur)="checkValidDate()"
                                type="text" maxlength="4" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="yyyy"
                                >
                            </div>
                            <div class="col-md-5">
                                <input [(ngModel)]="identification" (keyup)="onChange()"
                                type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2"
                                >
                            </div>
                        </div>
                
                        <div class="row" style="margin-top: 20px;" *ngIf="unvalidDate">
                            <div class="col-md-5" style="font-size: 18px; color: rgb(168, 4, 4);">
                                <fa-icon [icon]="faCircleExclamation"></fa-icon> &nbsp;
                                Pleases enter valid date
                            </div>
                        </div>
                
                        <hr style="margin-top: 40px;">

                        <div class="row" style="margin-top: 40px; font-size: 20px;">
                            <div class="col-md-6">
                                Phone number
                            </div>
                            <div class="col-md-6">
                                Email address
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <input [(ngModel)]="phone" (keyup)="onChange()"
                                    type="tel" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    >
                            </div>
                            <div class="col-md-6">
                                <input [(ngModel)]="email" (keyup)="onChange()"
                                    type="email" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    >
                            </div>
                        </div>
                        
                    </div>
                
                    <h2 style="margin-top: 30px">Notice : Enter incorrect info, pleases! We will contact to you when neccessary</h2>
                
                </div>
                
                <div class="content" [class.appear]="!hide" style="padding: 30px; font-size: 25px;">
                    {{firstName}}&nbsp;{{lastName}}
                </div>
        
            </div>
            <!-- end contact data -->
        
            <div class="row" style="margin-top: 50px;">
                <button mat-button 
                     [ngStyle]="{display : hide ? 'none' : 'block'}"
                    (click)="nextStep()"
                    (click)="updateTripTotal($event)"
                    style="background-color: #f8f8f8; height: 60px; width: 100%; font-size: 25px; width: 200px; border: 3px solid #0C172E">
                    Continue 
                </button>
                <button mat-button 
                    (click)="show()" 
                    style="background-color: #f8f8f8; height: 60px; width: 100%; font-size: 25px; width: 200px; border: 3px solid #0C172E"
                    [ngStyle]="{display : !hide ? 'none' : 'block'}">
                    Back to Info 
                </button>
            </div>
        
        </div>
        <div  style="padding: 0px !important; margin: 0px !important;" [ngStyle]="{display : !hide ? 'none' : 'block'}">
            <div style="margin-top: 30px;">
                <app-lugage (updateTripTotal)="updateTripTotal($event)"></app-lugage>
            </div>
        
            <div style="margin-top: 30px;">
                <app-expandedservice></app-expandedservice>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div style="height : 35px"></div>
        <app-stepper [active]=2></app-stepper>
        <div style="height : 40px"></div>
        <app-triptotal [updateTripTotal]="updateTripTotal_var" [paymentButton]=true></app-triptotal>
    </div>
    <div class="col-md-1"></div>
</div>


<div style="height: 150px; background-color: #f8f8f8;"></div>