<div class="row" style="padding-left: 12px; padding-right: 12px;">
    <div class="col-md-4" 
        style="background-image: url('../../../assets/image/addflight5-3.jpg');
        background-size: cover;
        padding : 0px !important;
        ">

    </div>
    <div class="col-md-1" style="padding-left:0px; padding-right: 0px; width: 50px;">
    </div>
    <div class="col-md-7" style="background-color: rgba(255, 255, 255, 0.493); padding: 30px 0; padding-left: 0px;">
        <h1 style="font-size: 40px; color: #0C172E;">New Flight Info</h1>
        <mat-form-field appearance="legacy">
            <mat-label>Origin</mat-label>
            <mat-select [(ngModel)]="departure" (selectionChange)="exceptAirport($event, 'from')">
                <mat-option *ngFor="let element of airportFrom" [value]="element.id"
                    >{{element.name}} ({{element.id}}), Viet Nam
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Destination</mat-label>
            <mat-select [(ngModel)]="destination" (selectionChange)="exceptAirport($event, 'to')">
                <mat-option *ngFor="let element of airportTo" [value]="element.id" 
                    >{{element.name}} ({{element.id}}), Viet Nam
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="legacy"> 
            <mat-label>Mã chuyến bay</mat-label>
            <mat-select [disabled]="disableSelect.value" [(ngModel)]="flightCode">
                <mat-option *ngFor="let element of flightsCode" [value]="element.code">{{element.code}}</mat-option>
            </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="legacy" style="width: 45%">
            <mat-label>Depart Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" id="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="legacy" style="display: inline-block; width: 45%; margin-left: 10%;">
            <mat-label>Depart Time</mat-label>
            <input type="time" matInput [(ngModel)]="timeFlight">
        </mat-form-field>

        <p style="display: inline-block; font-size: 20px;">Duration</p>
        <mat-form-field appearance="legacy" style="width : 20%; display: inline-block; margin-left: 10%;">
            <mat-label>Hour(s)</mat-label>
            <input type="number" matInput [(ngModel)]="hourDuration">
        </mat-form-field>

        <mat-form-field appearance="legacy" style="display: inline-block; width: 20%; margin-left: 10%">
            <mat-label>Minute(s)</mat-label>
            <input type="number" matInput min="0" max="59" [(ngModel)]="minuteDuration">
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Aircaft</mat-label>
            <mat-select [(ngModel)]="airName">
                <mat-option *ngFor="let element of airportFrom" [value]="element.id">{{element.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" style="width: 94%;">
            <mat-label>Original Price</mat-label>
            <input type="number" matInput min="0" [(ngModel)]="price">
        </mat-form-field> VND

        <mat-form-field appearance="legacy" style="width: 97%;">
            <mat-label>Taxes fee</mat-label>
            <input type="number" matInput min="0" [(ngModel)]="taxes">
        </mat-form-field>%

        <div align="right">
            <button mat-button
                (click)="reset()"
                style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px; margin-right: 20px;">Reset
            </button>
            <button mat-button (click)="addFlight()"
                style="background-color: #E8A207; height: 60px; width: 200px; font-size: 20px;">Create
            </button>
        </div>
    </div>
</div>

<!--  -->
