mat-form-field{
    width: 100%;
    font-size: 20px;
}

.mat-tab-label{
    font-size: 20px !important;
    height: 70px !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 1000!important; } 