<div class="row footer" (click)="changeBlur()">
    <div class="row" style="margin-top: 120px; text-align: left; font-size: 35px;">
        <div class="col-md-1" style="width: 60px;"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            MEMBER INFO
        </div>
        <div class="col-md-3">
            MEMBER INFO
        </div>
        <div class="col-md-2">
            CONTACT
        </div>
    </div>
    <div class="row" style="margin-bottom: 120px; text-align: left;">
        <div class="col-md-1" style="width: 60px; justify-content: center; display: flex; align-items: center;">
            <fa-icon [icon]="faGlobe" style="font-size: 40px;"></fa-icon>
        </div>
        <div class="col-md-3" style="font-size: 50px; font-weight: bold; line-height: 186px;">
            DaTo Airways
        </div>
        <div class="col-md-3" style=" display: flex; align-items: center;">
            <div>
                <p class="name">Cao Cong Danh</p>
                <p>B1805848</p>
                <p>Main duty : Front-End</p>
            </div>
        </div>
        <div class="col-md-3" style=" display: flex; align-items: center;">
           <div>
                <p class="name">Trinh Tan Toan</p>
                <p>B1805927</p>
                <p>Main duty : Back-End</p>
           </div>
        </div>
        <div class="col-md-2" style=" display: flex; align-items: center;">
            <div>
                <p>Term 2 - Fourth Year</p>
                <p>
                    <fa-icon [icon]="faEnvelope"></fa-icon> 
                    <a href="mailto:datoair@gmail.com" style="color: white; text-decoration: none;">&nbsp;datoair@gmail.com</a>
                </p>
            
                <img src="../../../assets/image/facebook-3-xxl.png" alt=""  height=50px>
                <img src="../../../assets/image/instagram.png" alt=""  height=50px style="margin-left: 30px;">
                <img src="../../../assets/image/twitter-xxl.png" alt="" height=50px style="margin-left: 30px;">
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <p>
        Region Vietnam <br>
    Copyright © DaTo Airways 2022
    </p> 
</div>