.footer{
    height : 500px;
    width: 101%;
    background-color: #0C172E;
    color: white;
    padding : 0 10%;
    margin-top: 5%;

    justify-content: center;
    display: flex;
    align-items: center;
}

p .name{
    font-size: 20px;
} 
 
p {
    font-size: 20px;
    line-height: 30px;
}

.footer-bottom{
    font-size: 20px;
    text-align: center;
    height: 300px;
    
    justify-content: center;
    display: flex;
    align-items: center;
}