
<div class="row" >
    <div class="footer2">
        <div style="height: 200px; line-height: 200px; text-align: center;">
            <fa-icon [icon]="faGlobe" style="font-size: 40px; color: white;"></fa-icon> &nbsp;
            <span style="font-size: 50px; color: white; font-weight: bold; margin-left: 20px;">DaTo Airways</span>
        </div>
        <hr style="color: white; width: 80%; margin: auto;">
        <div style="margin-top: 100px; margin-left: 100px;">
            <div class="divide"></div>
            <div class="divide">
                <img src="../../../assets/image/skyteam2.png" alt="" width="300px" height="90px">

            </div>

            <div class="divide" style=" margin-left: 60px;">
                <div style="width: 100%;">
                    <h1 style="color: gray !important;">Contact with us</h1>
                    <hr>
                    <div style="height: 10px;"></div>
                    <p>
                        <fa-icon [icon]="faEnvelope"></fa-icon> 
                        <a href="mailto:datoair@gmail.com" style="color: white; margin-left: 10px;">&nbsp;datoairways@gmail.com</a>
                    </p>
                    <div style="height: 10px"></div>
                    <img src="../../../assets/image/facebook-3-xxl.png" alt=""  height=50px>
                    <img src="../../../assets/image/instagram.png" alt=""  height=50px style="margin-left: 30px;">
                    <img src="../../../assets/image/twitter-xxl.png" alt="" height=50px style="margin-left: 30px;">
                </div>
            </div>

            <div class="divide" style=" margin-left: 60px;">
                <div style="width: 100%;">
                    <h1 style="color: gray !important;">Help and Support</h1>
                    <hr>
                    <div style="height: 10px;"></div>
                    <a href="">Why book on DaTo?</a><br>
                    <a href="">How to book?</a>
                </div>
            </div>
            <div class="divide">
                <div>
                    <h1 style="color: gray !important;">About us</h1>
                    <hr>
                    <div style="height: 10px;"></div>
                    <p style="text-align: justify">Dato Airways was established in February 2022. With the hope to be a great part in everyone's journey of discovery. DaTo wants to bring "<span style='font-weight: 500; color: gray; '>The spirit of Vietnam</span>" everywhere.</p>
                    <!-- <p>Cao Cong Danh - B1805848</p>
                    <p>Trinh Tan Toan - B180xxxx</p> -->
                </div>
                
            </div>
            <div class="divide"></div>
        </div>
    </div>
    
    <div  data-aos="fade-up" data-aos-duration="1000">
        <div class="footer-bottom">
        <p>
            Region Vietnam <br>
        Copyright © DaTo Airways 2022
        </p> 
        </div>
    </div>
</div>