<div class="row footer">
    <div class="col-md-4" style="font-size: 50px; font-weight: bold;">
        DaTo Airways
    </div>
    <div class="col-md-2">
        <p class="name">Cao Cong Danh</p>
        <p>B1805848</p>
        <p>Main duty : Front-End</p>
    </div>
    <div class="col-md-2">
        <p class="name">Trinh Tan Toan</p>
        <p>B1805927</p>
        <p>Main duty : Back-End</p>
    </div>
    <div class="col-md-4">
        <p style="text-align: center;">Term 2 - Fourth Year</p>
    </div>
</div>