.content{
    padding: 0px 30px;
    padding-bottom: 30px;
}

.appear {
    transition: 0.5s;
    display: none;
}

select{
    display: inline-block;
    margin-bottom: 0px !important;
}

.enterinfo{
    padding: 0px;
}
.enterinfo input{
    margin-top: 30px;
    display: inline-block;
}

input, select{
    border-radius: 5px !important;
    border: 2px solid rgba(0, 0, 0, 0.253);
    height : 70px;
    font-size: 20px;
}

input:hover, select:hover{
    border: 2px solid #0C172E !important;
    box-shadow: none !important;
}

.error{
    border-color: red !important;
}