<!-- [class.appear]="appear" -->
<div class="content" [class.appear]="hide">
    <div class="row" style="margin-top: 30px; font-size: 20px;">
        <div class="col-md-1" style="width: 40px;">
            <fa-icon [icon]="faCircleInfo" style="font-size: 25px;"></fa-icon>
        </div>
        <div class="col-md-11" style="align-items: center; display: flex;">
            All of the following information is &nbsp;<b>required</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 notice" [ngStyle]="{display : error_popup && error_amount >0 ? 'block' : 'none'}">
          <fa-icon [icon]="faCircleExclamation" style="color: rgb(177, 2, 2);"></fa-icon>
          <span style="margin-left: 8px; font-weight: 500; font-size: 25px; color: #0C172E;">{{error_amount}} Error. Please resolve before you continue</span>
          <p style="margin-top: 17px; font-size: 20px;">{{notice}}</p>
        </div>
    </div>

    <div class="enterinfo">

        <div class="row" style="margin-top: 40px; font-size: 20px;">
            <div class="col-md-5">
                Last name
            </div>
            <div class="col-md-5">
                First name
            </div>
            <div class="col-md-2">
                Suffix
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            
            <div class="col-md-5">
                <input [(ngModel)]="firstName" (keyup)="onChange()"
                    type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                     required>
            </div>
            <div class="col-md-5">
                <input [(ngModel)]="lastName" (keyup)="onChange()"
                    type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                     required>
            </div>

            <div class="col-md-2">
                <select [(ngModel)]="suffix" (change)="onChange()"
                    class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <!-- <option value="" selected="selected" disabled="disable" hidden="hidden">Suffix</option> -->
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                </select>
            </div>

        </div>

        <div class="row" style="margin-top: 40px; font-size: 20px;">
            <div class="col-md-5">
                Date of Birth
            </div>
            <div class="col-md-7">
                Identification Card No.
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">

            <div class="col-md-2">
                <select name="" id="" [(ngModel)]=monthBirth class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (blur)="checkValidDate()"  (change)="onChange()">
                    <option *ngFor="let element of monthList" value="{{element.value}}">{{element.view}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <input [(ngModel)]=dateBirth (keyup)="onChange()" (blur)="checkValidDate()"
                type="text" maxlength="2" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="dd"
                >
            </div>
            <div class="col-md-2">
                <input [(ngModel)]=yearBirth (keyup)="onChange()" (blur)="checkValidDate()"
                type="text" maxlength="4" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="yyyy"
                >
            </div>
            <div class="col-md-5">
                <input [(ngModel)]="identification" (keyup)="onChange()"
                type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2"
                >
            </div>
        </div>

        <div class="row" style="margin-top: 20px;" *ngIf="unvalidDate">
            <div class="col-md-5" style="font-size: 18px; color: rgb(168, 4, 4);">
                <fa-icon [icon]="faCircleExclamation"></fa-icon> &nbsp;
                Pleases enter valid date
            </div>
        </div>

    </div>

</div>

<!-- [class.appear]="!appear" -->
<div class="content" [class.appear]="!hide" style="padding: 30px; font-size: 25px;">
    {{firstName}}&nbsp;{{lastName}}
</div>
