<div class="row">
    <div class="col-md-12">
        <!-- <div style="font-size: 22px;">
            LUGGAGE
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-9" style="line-height: 60px;">
                CCD
            </div>
            <div class="col-md-3" align=end>
                <button 
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                mat-button 
                style="border: 2px solid rgb(211, 210, 210); height: 60px; width: 200px; font-size: 20px; display: inline-block;" >
                ADD LUGGAGE
            </button>
            </div>
        </div> -->
        <div>
            <a (click)="openLuggage()"
                data-bs-toggle="modal" data-bs-target="#luggage"
                style="font-size: 25px; color: #0C172E; cursor: pointer;">
                <fa-icon [icon]="faChevronRight "></fa-icon> &nbsp;
                Purchase more luggage
            </a>
        </div>
    </div>
</div>


  
  <!-- Modal -->
<div class="modal fade" id="luggage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="margin-top: 50px; height: 950px; overflow: auto;">
    <div class="modal-dialog" style="border-radius: 5px !important; max-width: 60% !important;">
      <div class="modal-content">

        <!-- header -->
        <div class="modal-header" 
            style="background-color: #0C172E; color: white !important;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            ">
          <p class="modal-title" id="exampleModalLabel" 
            style="padding-left: 14px; margin-top: 10px; font-size: 25px;">
            LUGGAGE
          </p>
        </div>

        <div class="modal-body" style="padding: 30px;">
            <div class="row" 
                style="text-align: center;">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-3">
                        <!-- <fa-icon [icon]="faSuitcaseRolling" style="font-size: 50px; color: #0C172E;"></fa-icon> -->
                        <img src="../../../assets/image/suitcase.png" alt="" height="50px">
                    </div>
                    <div class="col-md-3">
                        <!--    <fa-icon [icon]="faSuitcaseRolling" style="font-size: 60px;"></fa-icon> -->
                        <img src="../../../assets/image/suitcase.png" alt="" height="60px">
                    </div>
            </div>

            <div class="row" style="margin-top: 40px; font-size: 25px; text-align: center;">
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    10kg - 162 000 VND
                </div>
                <div class="col-md-3">
                    23kg - 270 000 VND
                </div>
            </div>
            <mat-checkbox class="example-margin" style="font-size: 20px;" [(ngModel)]="trip">&nbsp; One Way</mat-checkbox>
            <p>{{trip}}</p>
            <ng-container *ngIf = "trip == true ; else trip2">
                <div>
                    <app-luggage-personal *ngFor = "let element of passengerlist, let i=index" 
                    [firstName]="element.firstName"
                    [lastName]="element.lastName"
                    [no]="i+1"
                    [add]="add"
                ></app-luggage-personal>
                </div>
            </ng-container>
            <ng-template #trip2>
                <div>
                    <app-luggage-personal *ngFor = "let element of passengerlist, let i=index" 
                        [firstName]="element.lastName"
                        [lastName]="element.firstName"
                        [no]="i+1"
                        [add]="add"
                    ></app-luggage-personal>
                </div>
            </ng-template>

        </div>

        <!-- footer -->
        <div class="modal-footer" style="padding: 30px;">
          <button mat-button data-bs-dismiss="modal"
            style="border: 1px solid rgb(210, 210, 210); height: 60px; width: 150px; font-size: 20px; margin-right: 20px;">
            Close
          </button>
          <button mat-button 
            (click)="addLuggage()"
            style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;">
             ADD
         </button>
        </div>

      </div>
    </div>
</div>

