<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-3" style="padding-left: 5px !important;">
        <div class="className" 
            style="
            border-bottom: 20px solid #0C172E;
            color: #0C172E;
            width: 98%;"
            >
            Economic
        </div>
    </div>
    <div class="col-md-3" style="padding-right: 0px !important; padding-left: 5px !important;">
        <div class="className" 
            style="
                border-bottom: 40px solid #0C172E;
                color: #0C172E;
                width: 98%;
            ">
            Business
        </div>
    </div>
</div>