<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="padding: 0;">
        
        <span style="font-size: 40px; font-weight: 500 ;color: #0C172E; line-height: 100px;">{{departDate}}</span>
    </div>
    <div class="col-md-3" style="padding-left: 5px !important; width: 21%; margin-left: 8.4%;">
        <div class="className" 
            style="
            border-bottom: 20px solid #0C172E;
            color: #0C172E;
            width: 98%;"
            >
            Economic
        </div>
    </div>
    <div class="col-md-3" style="padding-right: 0px !important; padding-left: 5px !important; width: 21%;">
        <div class="className" 
            style="
                border-bottom: 40px solid #0C172E;
                color: #0C172E;
                width: 98%;
            ">
            Business
        </div>
    </div>
</div>