<div class="row" style="height: 100px;" data-aos="fade-right" data-aos-duration="1000">
    <div class="col-md-12" style="text-align: center; font-size: 50px; line-height: 100px;">
        Why book on DaTo?
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <div class="introducecard"  data-aos="fade-up" data-aos-duration="1000"> 
            <div class="image">
                <!-- <fa-icon [icon]="faLocationDot" style="font-size: 100px;"></fa-icon> -->
                <img src="../../../assets/image/location.png" alt="" height="100%">
                
            </div>
            <div class="slash">
                <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">____</p>
            </div>
            <div class="title">
                Variety destination
            </div>
            <div class="script">
                DaTo offers a wide range of destinations, with many famous destinations and is expanding more and more routes.
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="introducecard" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
            <div class="image">
                <!-- <fa-icon [icon]="faLocationDot" style="font-size: 100px;"></fa-icon> -->
                <img src="../../../assets/image/luggage.png" alt="" height="100%">
            </div>
            <div class="slash">
                <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">____</p>
            </div>
            <div class="title">
                More comfor
            </div>
            <div class="script">
                Create your trip flexibly and to suit your own individual preferences suitcase as well as others free service
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="introducecard" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <div class="image">
                <!-- <fa-icon [icon]="faLocationDot" style="font-size: 100px;"></fa-icon> -->
                <img src="../../../assets/image/creditcard.png" alt="" height="100%">
            </div>
            <div class="slash">
                <p style="color: #E8A207;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">____</p>
            </div>
            <div class="title">
                Payment flexible
            </div>
            <div class="script">
                Customers can choose one of two methods of payment via Debit card or Paypal.
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>