<!-- <body style="margin:0 auto; padding: 10px;">   -->
  <mat-stepper linear #stepper style="padding: 0px !important;">
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Type sign in info</ng-template>

        <mat-form-field appearance="legacy">
          <mat-label>Personal Identification No</mat-label>
          <input [(ngModel)]="identificationCard"
            matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="userPassword" 
          matInput formControlName="firstCtrl" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="height: 20px !important;">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Verify Password</mat-label>
          <input
          matInput formControlName="firstCtrl" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div align="right">
          <!-- <button mat-button matStepperNext>Tiếp tục</button> -->
          <button mat-button matStepperNext
          style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;">
          Next Step
          </button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Type personal info</ng-template>
       
        <mat-form-field appearance="legacy" style="width: 40%">
          <mat-label>Suffix</mat-label>
          <mat-select [(ngModel)]="suffix" formControlName="secondCtrl">
            <mat-option *ngFor="let element of suffixList" [value]="element.value">
              {{element.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field appearance="legacy" style="width: 40%; display: inline-block; margin-left: 20%;">
            <mat-label>Last Name</mat-label>
            <input  [(ngModel)]="lastName"
            matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="firstName"
            matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Date of Birth</mat-label>
            <input matInput formControlName="secondCtrl" id="dateOfBirth_2"
               [matDatepicker]="picker" [(ngModel)]="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <div align="right">
          <button mat-button matStepperPrevious
          style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px; margin-right: 20px;">
          Back
          </button>

          <button mat-button matStepperNext
          style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;">
          Next Step
          </button>
        </div>

      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Type contact info</ng-template>
      
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Email</mat-label>
        <input type="email" matInput [(ngModel)]="userEmail"
               placeholder="Ex. pat@gmail.com">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Phone No</mat-label>
        <input type="email" matInput [(ngModel)]="userPhoneNumber"
               placeholder="0123 456 789">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      </mat-form-field>

      <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div> -->

      <div align="right">
        <button mat-button matStepperPrevious
        style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px; margin-right: 20px">
        Back
        </button>

        <button mat-button matStepperNext
        (click)="register()"
        style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;">
        Register
        </button>
      </div>

    </mat-step>
  </mat-stepper>
  

      

<!-- </body> -->
