.place{
    background-size: cover;
    background-repeat: no-repeat;
    height : 500px;
    position: relative;
}

.text{
    position: relative;
    top : 80%;
    left : 5%;
    color: white;
    font-size: 50px;
}

.place:hover{
    box-shadow: 1px 1px 7px 10px #ccc;
    transition : 0.2s;
}
