.mat-tab-group {
    margin-bottom: 48px;
}
/* 
.mat-tab-body-content { 
    overflow: hidden!important;
}

/* mat-tab */

/* .mat-tab-label {
    opacity: 1 !important;
    font-size: 17px;
}  */
  

.mat-tab-label-active{
    opacity: 1 !important;
}

.mat-tab-label{
    font-size: 24px !important;
    height: 70px !important;
}