  <div class="row">
    <div class="col-md-10 notice" [ngStyle]="{display : warning ? 'block' : 'none'}">
      <fa-icon [icon]="faCircleExclamation" style="color: rgb(177, 2, 2);"></fa-icon>
      <span style="margin-left: 8px; font-weight: 500; font-size: 25px; color: #0C172E;">Error. Please resolve before you continue</span>
      <p style="margin-top: 17px; font-size: 20px;">{{notice}}</p>
    </div>
  </div>
  <!-- <div class="row" style="padding: 10px;">
    <div class="col-md-12">
      <mat-dialog-content class="mat-typography" >
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>User Name</mat-label>
            <input matInput [(ngModel)]="username" required>
          </mat-form-field>
        </p>
      
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </mat-dialog-content>
  
      <mat-dialog-actions align="center" style="margin-bottom: 10px;">
        <button mat-button 
          style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;" (click)="login()">
          Sign in
        </button>
      </mat-dialog-actions>
    </div>
  </div>   -->


<div style="height: 50px"></div>
<div class="row">
  <div class="col-md-12">
    <label for="username" style="display: block">Identification Card No</label>
    <input type="text" name="" id="username" [(ngModel)]="username" (keyup)="onKeyUp()" [ngClass]="{error : warning}">
  </div>
</div>

<div style="height: 40px"></div>
<div class="row">
  <div class="col-md-12">
    <label for="username" style="display: block">Password</label>
    <input type="password" name="" id="" [(ngModel)]="password" (keyup)="onKeyUp()" [ngClass]="{error : warning}">
  </div>
</div>

<div style="height: 30px;"></div>

<mat-dialog-actions align="center" style="margin-bottom: 20px;">
  <button mat-button 
    style="background-color: #E8A207; height: 60px; width: 150px; font-size: 20px;" (click)="login()">
    Sign in
  </button>
</mat-dialog-actions>