mat-form-field.mat-form-field {
    font-size: 20px;
    width: 700px; 
}
.mat-form-field {
    margin-top: 16px;
}

/* ::ng-deep .mat-dialog-container{
    height: 480px !important;
    overflow-y: hidden !important;
    padding: 50px !important;
    padding-bottom: 0px !important;
} */

.mat-tab-label-active{
    opacity: 1 !important;
}

button{
    margin-bottom: 10px;
  }

.notice{
    background-color: #f8f8f8; 
    box-shadow: 1px 1px 7px 5px #ccc; 
    margin-top: 30px;
    margin-left: 20px;
    padding: 25px;
    font-size: 20px;

    display: none;
}

input{
    font-size: 20px;
    width: 690px; 
    height: 55px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-bottom: 3px solid #0C172E !important;
    border-right: 3px solid #0C172E !important;
    padding: 10px;
}

.inputclick{
    background-color: #f8f8f8;
    box-shadow: 1px 1px 7px 5px #ccc;
    border: none;
}

label{
    font-size: 18px;
}

input:focus{
    outline: none;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 7px 5px #ccc;
    border: none;
    padding: 20px;
    transition: 0.2s;
}

.error{
    border-color: rgb(177, 2, 2) !important;
    transition: 0.5s;
}