<div class="admin">
    <div class="quote">
        <div class="row" 
            style="height: 950px; margin-top: 50px; justify-content: center; display:flex; align-items: center; text-align: center;">
            <div class="col-md-1"></div>
            <div class="col-md-10" class="animate__animated animate__slideInUp">
                <p style="font-size: 70px;">Discover new lands</p>
                <p style="margin-top: 40px; font-size: 25px;">Make everyone's dream come true</p>
                <p style="font-size: 40px; color: #E8A207;">______</p>
                <div class="option">
                    <div class="suboption">
                        <button mat-button  
                            style="color: #0C172E; border: none; font-size: 25px;">
                            <a 
                            data-bs-toggle="modal" data-bs-target="#luggage"
                            style="font-size: 25px; color: #0C172E; cursor: pointer;">
                            Flight Status
                        </a>
                        </button>
                    </div>
                    <div class="suboption" style="border-right: 1px solid black;">
                        <!-- openDialogAddNew() -->
                        <button mat-button (click)="createFlight()" 
                            style="color: #0C172E; border: none; font-size: 25px;">
                            Create new flight
                        </button> 
                    </div>
                    <div class="suboption" 
                        style="background-color: #E8A207; color: #0C172E;
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;">
                        <fa-icon [icon]="faGlobe"></fa-icon>
                       <b> DaTo Airways</b>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="flightStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="search">
        <div class="row">
            <div class="col-md-9">
                <input style="height: 70px;"  [(ngModel)]="flightCode"
                    class="form-control" type="text" name="" placeholder="Enter Flight code">
            </div>
            <div class="col-md-3">
                <button mat-button
                    style="background-color: #E8A207; height: 70px; font-size: 20px;">
                    Search flight
                </button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="luggage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="margin-top: 140px; padding: 0px !important; ">
    <div class="modal-dialog" style="border-radius: 5px !important; max-width: 30% !important;">
      <div class="modal-content">
        <div class="modal-body" style="padding: 0px !important;">
            <div class="row" >
                <div class="col-md-9">
                    <input style="height: 70px;"  [(ngModel)]="flightCode"
                        class="form-control" type="text" name="" placeholder="Enter Flight code">
                </div>
                <div class="col-md-3">
                    <!-- disabled="{{flightCode != '' ? false : true}}"  -->
                    <button mat-button mat-button data-bs-dismiss="modal" 
                        (click)="searchFlight()"
                        style="background-color: #E8A207; height: 70px; font-size: 20px; width: 200px;">
                        Search
                    </button>
                </div>
            </div>
            <!-- <div class="consequence">
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-10">
                        <input style="height: 70px;" 
                        class="form-control" type="text" name="" placeholder="Enter Ticket Number" readonly>
                    </div>
                </div>
            </div> -->
        </div>
      </div>
    </div>
</div>

<div style="height: 150px; background-color: #f8f8f8;"></div>