.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    height: 70px;
    border-radius: 70px;
    padding: 10px;
    background-color: #0C172E;
    display: block;
}

.search-btn{
    float: right;
    border-radius: 50%;
    background-color: #0C172E;
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    float: left;
    height: 50px;
    line-height: 50px;
    transition: 0.4s;
    width: 400px;
    color: white;
    font-size: 20px;
}

/* .search-box:hover > .search-txt{
    width: 400px;
    padding: 0 10px;
} */

table {
    border: 2px solid red;
    width: 400px;
    display: block;
}


.admin{
    background-image: url('../../assets/image/plane1.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x:95%;
    background-position-y: 5%;
}

.option{
    height: 70px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 1px 1px 8px 5px #ccc;
    border-radius: 5px;
}

.suboption{
    width: 33.33%;
    /* border: 2px solid green; */
    height: 100%;
    float: right;
    line-height: 68px;
    font-size: 25px;
}

.mat-tab-label{
    font-size: 20px !important;
    height: 70px !important;
}

::ng-deep .mat-dialog-container{
    padding : 0px !important;
    overflow-x:hidden !important;
}

.search{
    position: absolute;
    top:150px;
    width: 30%;
    margin-left: 35%;
}

.appear{
    display: none;
}

.modal-content {
    background-color: rgba(0,0,0,.0001) !important;
    border: none;
}