<div class="row">
    <div class="col-md-2" style="margin-left: 5.5%;">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            value="HA NOI"
            readonly>
    </div>
    ⇋
    <div class="col-md-2">
        <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            value="TP HO CHI MINH"
            readonly>
    </div>
    
    <div class="col-md-2">
        <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            value="Khu hoi"
            readonly>
    </div>

    <div class="col-md-2">
        <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            value="27/02 - 28/02"
            readonly>
    </div>

    <div class="col-md-2">
        <button mat-button
            style="background-color: #E8A207; height: 60px; width: 170px; font-size: 20px; margin: 20px 20px 20px 0; color: #0C172E">
            Chỉnh sửa
            </button>
    </div>
      
</div>
