.nav_me{
    height: 120px;;
    line-height: 100px;
    background-color: #0C172E;
    padding:0 30px;
    color: white;
    
    justify-content:center;
	display: flex;
	align-items: center;
}

a{
    color: white;
    font-family: Tahoma;
 }