<app-header></app-header>
<div class="row">
    <div class="col-md-12" style="background-image: url('../../assets/image/bghome6.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 700px; 
                                
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                ">

        <div>
            <app-searchnbook></app-searchnbook>
        </div>
    </div>
</div>